<div class="chat container-fluid">
  <div class="row main">
    <div class="col-md-3 users">
      <div class="header">
        <h3 class="title">Chat</h3>
        <div>
          <button mat-icon-button color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="users">
        <ul class="list" *ngFor="let user of users">
          <li class="user">
            <div class="logo">
              <span class="name" matBadgePosition="below" MatBadgeSize="small" matBadge="0" [ngClass]="user.loginStatus" >{{user.firstName[0]}}{{user.lastName[0]}}</span>
            </div>
            <div class="info">
              <p class="name">{{user.firstName}} {{user.lastName}}</p>
              <p class="message">this is my last message</p>
            </div>
            <div class="spacer"></div>
            <div class="time">
              <span>
                {{ user.lastLoggedIn | date: 'h:mm a' }}
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">Chat data</div>
  </div>
</div>
