$vca-black-primary: mat-palette($mat-grey, 700, 300, 900);
$vca-black-accent: mat-palette($mat-blue-grey, 400);
$vca-black-warn: mat-palette($mat-red, 500);

$vca-black-theme: mat-dark-theme(
  $vca-black-primary,
  $vca-black-accent,
  $vca-black-warn
);
