@import '../../styles-variables';
.footer {
  flex: 0 0 auto;
  padding: 0 15px;
  text-align: center;

  .row {
    padding: 10px 0;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      .signature {
        position: relative;

        .version {
          position: absolute;
          right: 15px;
          display: inline-block;
        }
      }
    }
  }
}
