<div class="container login">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="header">
          <mat-icon
            class="logo-icon"
            aria-hidden="false"
            aria-label="ondemand-video"
            >ondemand_video</mat-icon
          >
          <span> Video Chat App</span>
        </h1>

        <mat-progress-bar
          *ngIf="submitting"
          class="progress-bar"
          mode="indeterminate"
        ></mat-progress-bar>
        <mat-card>
          <mat-card-header class="justify-content-center mb-2">
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <mat-form-field class="col" appearance="outline">
                <mat-label>E-mail</mat-label>
                <mat-icon matSuffix>mail</mat-icon>
                <input
                  matInput
                  placeholder="Enter your email "
                  formControlName="email"
                  type="email"
                />
                <mat-error *ngIf="loginForm.get('email').hasError('required')">
                  E-mail is required
                </mat-error>
                <mat-error
                  *ngIf="
                    loginForm.get('email').hasError('email') ||
                    loginForm.get('email').hasError('pattern')
                  "
                >
                  E-mail should be valid
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Enter your password"
                  formControlName="password"
                  type="password"
                  maxlength="24"
                  minlength="6"
                />
                <mat-error
                  *ngIf="loginForm.get('password').hasError('required')"
                >
                  Password is required
                </mat-error>
                <mat-error
                  *ngIf="loginForm.get('password').hasError('minlength')"
                >
                  Password length should be greater than 6
                </mat-error>
                <mat-error
                  *ngIf="loginForm.get('password').hasError('maxlength')"
                >
                  Password length should not be greater than 24
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-end">
                <a routerLink="/forgotPassword" mat-button color="secondary">
                  Forgotten Password?
                </a>
              </div>
            </div>
            <p class="error">{{ error }}</p>
          </mat-card-content>
          <mat-card-actions
            class="d-flex justify-content-center align-items-center flex-column"
          >
            <button
              mat-raised-button
              type="submit"
              color="primary"
              class="btn-submit mb-3"
              [disabled]="loginForm.invalid || submitting"
            >
              Log In
            </button>
            <p>
              Don't have an account?<a
                mat-button
                color="accent"
                routerLink="/register"
                >Sign Up</a
              >
            </p>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </form>
</div>
